* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Nunito", sans-serif;
}

section {
    padding-inline: 15px;
    max-width: 971px;
    margin: 0 auto;
    padding-block: 24px;
}

h2 {
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #FF9401;
    text-align: center;
}

h3 {
    margin-bottom: 43px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #2E2E2E;
    text-align: center;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.features-item {
    max-width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-image {
    margin-bottom: 25px;
}

h4 {
    margin-bottom: 19px;
}

.features-text {
    text-align: center;
}

@media (max-width:765px) {
    h3 {
        margin-bottom: 28px;
        font-size: 38px;
    }

    .features-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}